* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #eef5ff;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    -webkit-align-items: center;
}

.form-card {
    width: 60%; 
    height: 75%; 
    box-shadow: hsl(220, 38%, 86%)  0px 2px 10px 0px; 
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 20px;
    display: flex; 
}

.form-card > .step-sidebar {
    background:  hsl(243, 100%, 62%);
    border-radius: 15px; 
    padding: 20px; 
    background-image: url("../images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat; 
    background-attachment: inherit;
    background-position: bottom;
    background-size: cover;

}

.form-card > .step-sidebar > .step > li {
    cursor: pointer;
    display: flex;
    flex-direction: row; 
    margin: 25px;
    align-items: center;
    justify-content: start;
    width: 200px;
    border: 3px solid transparent;
    transition-property: border;
    transition-duration: 0.1s;
}
.form-card > .step-sidebar > .step > li:hover { 
    border-right: 3px solid hsl(231, 100%, 99%);
}

.step-number {
    background-color:  transparent;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}
.step-active { 
    background-color:  hsl(206, 94%, 87%) !important;
    border: 1px solid transparent !important;
    color: hsl(213, 96%, 18%) !important;
}

.step-label {
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
}
.step-label > span {
    color: hsl(229, 24%, 87%);
    font-size: 13px;
}

.form-card > .form-content {
    padding: 30px 60px;  
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 
.form-content-step > h1 {
    color: hsl(213, 96%, 18%);
    font-size: 30px;
    margin-bottom: 10px;
}

.form-content-step > p {
    color: hsl(231, 11%, 63%);
    font-size: 16px;
    margin-bottom: 20px;
} 

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group > label {
    color: hsl(213, 96%, 18%);
    margin-bottom: 8px;
}

.form-group > input {
    border-radius: 10px;
    border: 1px solid hsl(231, 11%, 63%);
    padding: 15px;
    font-size: 15px; 
    transition-property: border, color;
    transition-duration: 0.2s;
}

.form-group > input:focus {
    border: 1px solid hsl(354, 84%, 57%);
    color: 1px solid hsl(213, 96%, 18%); 
}
 
input::placeholder { 
    color: hsl(231, 11%, 63%);
    font-size: large;
    font-weight: bold;
}
 
.form-content > div:last-child  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.form-content > div:last-child > button.previousBtn {
    cursor: pointer;
    border:none;
    background: transparent;
    color: hsl(231, 11%, 63%);
    font-weight: bold;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 10px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
}

.form-content > div:last-child > button.nextBtn { 
    cursor: pointer;
    background-color: hsl(213, 96%, 18%);
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px 20px;
    font-weight: bolder;
    color: hsl(229, 24%, 87%); 
    transition-property: background-color, color;
    transition-duration: 0.2s;
}
.form-content > div:last-child > button.nextBtn:hover,
.form-content > div:last-child > button.previousBtn:hover { 
    color: hsl(213, 96%, 18%);
    background-color: hsl(228, 100%, 84%); 
}


/* Plan Form */

.form-plan { 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.form-plan > div { 
    cursor: pointer;
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid hsl(231, 11%, 63%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap; 
    transition-property: border, background-color;
    transition-duration: 0.2s;
}
.form-plan > div:hover { 
    background-color: #f8f9fe;
    border: 1px solid hsl(243, 100%, 62%);
}

.form-plan > div > h3 { 
    margin-top: 50px;
    color: hsl(213, 96%, 18%);
}
.form-plan > div > span {
    margin-top: 5px; 
    color: hsl(231, 11%, 63%);
    font-size: small;
}

.form-period {
    margin-top: 30px;
    background: #f8f9fe;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
}

/* Plan Addons */
.form-addons { 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 
}

.form-addons > .addon { 
    cursor: pointer; 
    padding: 20px;
    border-radius: 10px;
    border: 1px solid hsl(231, 11%, 63%);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center; 
    transition-property: border, background-color;
    transition-duration: 0.2s;
    margin-bottom: 20px;
}
.form-addons > .selected { 
    background-color: #f8f9fe;
    border: 1px solid hsl(243, 100%, 62%);
}

.form-addons > .addon > .custom-checkbox {
    margin-right: 15px;
}

.form-addons > .addon > div {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}
.form-addons > .addon > div > .addon-price {
    color: hsl(243, 100%, 62%);
    font-size: 15px;
}
.addon-details > h3 { 
    color: hsl(213, 96%, 18%);
}
.addon-details > p {
    margin-top: 5px; 
    color: hsl(231, 11%, 63%);
    font-size: 16px;
}

/* form-summary */
.form-summary { 
    background-color: #f8f9fe;
    padding: 20px;
    border-radius: 10px;
}

.form-summary > .plan, .item { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
}
.form-summary > .plan > div:first-child > h3 { 
    color: hsl(213, 96%, 18%);
}
.form-summary > .plan > div:first-child > button { 
    margin-top: 5px; 
    color: hsl(231, 11%, 63%);
    font-size: 16px;
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}
.form-summary > .plan > div:last-child {
    font-weight: bold;
    color: hsl(213, 96%, 18%);
}

.item > div {
    margin: 10px 0;
}
.item > div > p { 
    color: hsl(231, 11%, 63%);
    font-size: 16px;
}
.item > div:last-child { 
    color: hsl(213, 96%, 18%);
}

.summmary-total { 
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; 
}
.summmary-total > p { 
    color: hsl(231, 11%, 63%);
    font-size: 16px;
}
.summmary-total > div:last-child { 
    color: hsl(243, 100%, 62%);
    font-weight: bold;
    font-size: large;
}

.divider {
    border-color: hsl(225, 19%, 92%);
    margin: 20px 0 20px 0;
}

/* form-thank-you */
.form-thank-you { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.form-thank-you > h1 {
    margin-top: 20px;
    font-weight: bold;
    color: hsl(213, 96%, 18%);
}
.form-thank-you > p { 
    margin-top: 20px;
    text-align: center;
    color: hsl(231, 11%, 63%);
    font-size: 16px;
}

@media screen and (max-width: 375px) { 
    .form-card > .step-sidebar { 
        background-image: url("../images/bg-sidebar-mobile.svg");
    }
}

/*@media screen and (max-width: 1440px) {  
    .form-card > .step-sidebar { 
        background-image: url("../images/bg-sidebar-desktop.svg");
    }
}*/

  