.switch {
    display: inline-block;
    height: 25px;
    position: relative;
    width: 52px;
    margin: 0 10px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: hsl(0, 0%, 100%);
    bottom: 4px;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    position: absolute;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(213, 96%, 18%);
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
